article
	.h4.small-dark-title A la une
	.lead Suterwspan.text-muted  | pelsnf le 11/14/14
	h2 Lorem Ipsum Dolor
	p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet vulputate nisl nec commodo. Ut porttitor mollis eleifend. Curabitur commodo enim in purus interdum varius. Maecenas luctus placerat tortor, mollis aliquam turpis tincidunt sed. Nam eu finibus massa, eget dictum lorem. Nam et mollis justo. Quisque non mauris nulla. Duis molestie sem nisi, vitae aliquet massa auctor nec. Etiam urna nulla, vehicula nec quam id, pellentesque pretium arcu. Praesent nec hendrerit ex, et imperdiet lorem. Aenean ultricies pellentesque dignissim. Etiam vel mattis ex. Donec magna nisi, varius non tincidunt maximus, malesuada vel elit. Maecenas velit mauris, fermentum ut nibh at, facilisis lacinia nulla.

	.row.text-muted
		.col-sm-4
			.glyphicon.glyphicon-time
			|  3 days ago
		.col-sm-8
			.glyphicon.glyphicon-tags
			strong  Tags:
				a(href="")  lorem
				| ,
				a(href="")  lorem
				| ,
				a(href="")  lorem

hr

article
	.row
		.col-sm-4
			.small-dark-title A la une
		.col-sm-8
			a(href="")  Questo de mous
			span.text-muted  | peile 11/14/14

	h2 Maecenas luctus placerat
	p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet vulputate nisl nec commodo. Ut porttitor mollis eleifend. Curabitur commodo enim in purus interdum varius. Maecenas luctus placerat tortor, mollis aliquam turpis tincidunt sed. Nam eu finibus massa, eget dictum lorem. Nam et mollis justo. Quisque non mauris nulla. Duis molestie sem nisi, vitae aliquet massa auctor nec. Etiam urna nulla, vehicula nec quam id, pellentesque pretium arcu. Praesent nec hendrerit ex, et imperdiet lorem. Aenean ultricies pellentesque dignissim. Etiam vel mattis ex. Donec magna nisi, varius non tincidunt maximus, malesuada vel elit. Maecenas velit mauris, fermentum ut nibh at, facilisis lacinia nulla.

	.row.text-muted
		.col-sm-4
			.glyphicon.glyphicon-time
			|  3 days ago
		.col-sm-8
			.glyphicon.glyphicon-tags
			strong  Tags:
				a(href="")  lorem
				| ,
				a(href="")  lorem
				| ,
				a(href="")  lorem
hr

article
	strong Suteres
	span.text-muted  | publes 12/25/2016

	h2 Etiam urna nulla, vehicula nec quam id

	p: img(src="http://placekitten.com/560/150")
	p Donec magna nisi, varius non tincidunt maximus, malesuada vel elit.